<#if dataList??>
	<#list dataList as list>
		<tr>
		    <td><input type="checkbox" class="data-ckx" lay-skin="primary" data="${list.uid}"></td>
		    <td>${list_index+1}</td>
		    <td>${list.uid!''}</td>
		    <td>${list.nickname!''}</td>
		    <td>普通会员</td>
		    <td>
				<#if list.sex??>
					<#if list.sex == 1>男</#if>
					<#if list.sex == 2>女</#if>
				</#if>
			</td>
		    <td>${list.mobile!''}</td>
			<td>${list.createTime?string("yyyy-MM-dd HH:mm:ss")}</td>
		    <td>
				<input type="hidden" class="index-id" value="${list.uid}">
				<a href="javascript:void(0)" class="layui-btn layui-btn-normal layui-btn-mini operate" data-fn="info">详情</a>
		 	</td>
		</tr>
	</#list>
</#if>
