<#include "../_layout/_layout.html"><#t>
<@header/>
<div class="admin-main">
	<!-- 筛选组 -->
	<blockquote class="layui-elem-quote filter-bar">
		<form class="layui-form"  id="filterForm">
			<div class="layui-inline">
				<label class="layui-inline">账号（手机号）：</label>
				<div class="layui-input-inline">
					<input type="text" name="mobile" class="layui-input">
				</div>
			</div>
			<a href="javascript:void(0)" class="layui-btn layui-btn-small" id="search"><i class="layui-icon">&#xe615;</i>搜索</a>
		</form>
	</blockquote>
	<!-- 表格区域 -->
	<div class="layui-form" id="twrap">
	  <table class="layui-table">
	    <thead>
	      <tr>
	        <th class="ckb"><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
	        <th width="5%">序号</th>
	        <th>uid</th>
	        <th>昵称</th>
	        <th>会员等级</th>
	        <th>性别</th>
		    <th>手机号</th>
	        <th>注册时间</th>
	        <th fixed="right">操作</th>
	      </tr> 
	    </thead>
	    <tbody id="tbody"></tbody>
	  </table>
	  <!-- 分页容器 -->
	  <div class="layui-show"><div id="page"></div></div>
	</div>
</div>
<@footer>
<script type="text/javascript" src="${assets}js/datagrid.js"></script>
<script>
//入口
layui.use(['datagrid','laydate'], function(){
  var $ = layui.jquery;
  var datagrid = layui.datagrid();
  
  //表格数据加载插件，可选参数：
  datagrid.init({
	  url: 'list',
	  pageSize: 15,
	  pageEm: $('#page'),
	  tempEm: $('#twrap'),
	  filterForm: $('#filterForm')
  });
  
  //搜索， 依赖datagrid
  $('#search').bind('click', function(){
	  datagrid.search();	  
  })
//操作
	$('#twrap').on('click', '.operate', function(){
		var cmd = $(this).attr('data-fn');
		var id = $(this).siblings('.index-id').val();
		if (cmd == 'info') {
            editFn(id);
		}
	})
  //打开编辑框
  var editFn = function(id){
	  if(!id){
		  layer.msg('请选择一条数据编辑!');
		  return;
	  }
      var index = layer.open({
          type: 2,
          title: '修改用户信息',
          shadeClose: true,
          shade: false,
          area: ['1000px', '600px'],
          offset: ['-2px', '0px'],
          content: 'editView?id='+id
      });
      layer.full(index);
  }
});
</script>
</@footer>
	<style type="text/css">
		.layui-tab-content {
			padding: 0px 0px 0px;
		}
	</style>